.navbar-container {
  padding: 1rem;
  background-color: var(--gunmetal);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-list li {
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}

.nav-link:hover {
  color: var(--vista-blue);
}

.logo {
  font-size: 3rem;
  font-weight: 600;
}
