#posts {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.posts-user {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.posts-user-photo-container {
  width: 160px;
  height: 130px;
}

.posts-user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.posts-user-details {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.posts-user-details h1 {
  font-size: 3rem;
}

.posts-user-details p {
  text-align: right;
  font-weight: bold;
}

.posts-list-container {
  list-style: none;
}

.post-link {
  color: black;
  text-decoration: none;
}

.post-text {
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.post-text h2 {
  margin-bottom: 1rem;
}

.comments-and-likes {
  display: flex;
  column-gap: 1rem;
  justify-content: flex-end;
  font-weight: bold;
}

.no-comments {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.pagination-btn-container {
  text-align: center;
}

.pagination-btn {
  padding: 0.8rem 1.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pagination-btn:hover {
  background-color: black;
  color: white;
}
