/* --------------- User --------------- */

.user-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 50%;
  margin: auto;
}

.user {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  align-self: flex-start;
  width: 100%;
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.user-info {
  width: 100%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
}

.user-info h1 {
  font-size: 4rem;
}

.user-info p {
  text-align: right;
  font-weight: bold;
}

/* --------------- Bio --------------- */
.bio {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.bio h2 {
  margin-bottom: 1rem;
}

/* --------------- Recent Posts --------------- */
.posts-list {
  list-style: none;
}

.post-container {
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
}

.post {
  color: black;
  text-decoration: none;
}

.post-body {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.post-counters {
  text-align: right;
}

.post-btn-container {
  text-align: center;
  margin-top: 2rem;
}

.see-all-posts-btn {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.see-all-posts-btn:hover {
  color: white;
  background-color: black;
}

.no-posts {
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
}
