<div class="flash-container">
  <% flash.each do | name, msg | %>
    <% if flash[:notice] %>
      <div class="notice" role="alert">
        <h2><%= msg %></h2>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert" role="alert">
        <h2><%= msg %></h2>
      </div>
    <% end %>
  <% end %>
</div>